<h1><%= image_tag("archive.png", :size => "140x140") %></h1>
<br><br>
<div class="row">
    <div class="span6">
    	<div class="well well-large">
	    	<p>
		      <strong>Proyecto Realizado por: </strong><br><br>

		    	 Flor Maria Giraldo Parra<br>
		    	 Administradora del complejo sur SENA<br><br>
		    	 Jose Gregorio Avila Cerezo<br>
		    	 Programador Analista de Sistemas<br><br>
		    	 Alejandro Saldarriaga Alzate<br>
		    	 Programador Analista de Sistemas<br><br>
		    	 <p><b><%= link_to 'Producto SENA, Centro de Formación en Diseño, Confección y Moda', 'http://senadisenoconfeccionymoda.blogspot.com/', :id => 'linkto' %></b></p><br>
		    	 Regional Antioquia, Itaguí- Calatrava © 2013
	    	</p> 
	    	<p>
	    	  <button class="btn btn-mini pull-right" onclick="$.lazybox.close()">Cerrar</button>
	    	</p>
        </div>

    </div>
</div>


<a title="Ver video" href="javascript:void(0);" onclick="window.open('http://www.youtube.com/watch_popup?v=vHnmqGtbqFk',  'popup', 'top=350, left=480, width=400, height=300, toolbar=NO, resizable=NO, Location=NO, Menubar=NO,  Titlebar=No, Status=NO')"><img src="https://lh3.googleusercontent.com/-aEFjkHJ7yoE/UDU8eKt5dVI/AAAAAAAABLg/eeRtNELRc0Q/s40/Icono%2520de%2520video.jpg" title="Ver video" />Acerca de nosotros</a>
