<body onload="Comenzar()">
<p><%= image_tag('cabezote.png', :class => 'img-rounded', :id => 'image') %></p>
    
    
  <div class="well well-large well-hover">
     <p class='lead'>
            <h1>Bienvenidos a CARSOFT</h1>
               
                    Es la función de la dirección del Complejo Sur SENA que sistematiza por anticipado los factores de control de ingreso, vehiculos, materias primas y equipos. 

                    Control al que desee lograr.

                    Capacidad y facilidades al ingreso de vehiculos al SENA.


                    Es la actividad de decidir acerca de los medios que el SENA necesitará para su sistema de control de ingresos de vehiculos, para facilitar el proceso de ingreso que se da diariamente en el complejo sur.

                    En concreto, tiene por finalidad vigilar que se logre:

                    Control de vehiculos, materias primas y equipos, saber en todo momento la ubicacion de los
                    vehiculos que se encuentran dentro de las instalaciones del SENA.

                </p>
        </div>
    </header>
    <a id="ver" href="login" class="btn btn-success" type="submit">Login</a>
  
     
 <div id="footer" class="well well-large">
     <div class="row-fluid">
            <div class="span12">
                    <div class="span8">


                        
                        <a id="color" href="#"><%= image_tag('footer.png', :class => 'img-rounded', :id => 'images1') %></a>
                      

                         <p id='sena1'><a id="c"  href="http://www.sena.edu.co/" rel="tooltip" title="Servicio Nacional de Aprendizaje"><b>SENA</b></a></p>

                          <p id='sena2'><a id="ce" class="border4" href="http://senadisenoconfeccionymoda.blogspot.com/" rel="tooltip" title="Centro de Formación en Diseño, Confección y Moda"><b>Complejo Sur - Centro</b></a></p>

                    </div>
                    <div class="span4">
                        <p class="muted pull-right"><a  href="#myModal"  role="button" class="pull-right" ><%= link_to "Créditos", about_path, :remote => true, :rel => 'tooltip', :title => 'Dar click en Creditos', :class => 'badge badge-success', :id => 'color'%></a></p>
                    </div>
            </div>
        </div>
    </div>
        </div>
      <div id="txt">
</div>
</body>